<section class="search-area">
	<form method="get" action="/results">
		<div class="input-group">
			<input type="text" name="t" placeholder="Search by Title">
			<div class="input-group-btn">
				<button class="btn">Submit</button>
			</div>
		</div>
	</form>
	<%- link_to("View Favorites", "/favorites") %>
</section>
